.theme-orman.slider-wrapper {
	margin-top: 10px;
	background: url(../images/templatemo_sliderbg.png) no-repeat;
	width: 960px;
	height: 340px;
	padding: 10px 10px 53px 10px;
	position: relative;
}